*.class
*.log
*.metals
*.classpath
*.project
*.settings/

# sbt specific
.cache/
.history/
.lib/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
*/target/
*/null/*
*/project/
*/dist/
*/src/null/*
*/src/project/*
*/src/target/*